<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset='UTF-8' />
<meta http-equiv='X-UA-Compatible' content='IE=edge' />
<meta name='viewport' content='width=device-width, initial-scale=1.0' />
<title>DOCUMENT</title>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css' />
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css' />
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css' />
<link href='https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css' rel='stylesheet' />
<link rel='stylesheet' href='/stylesheets/home.css' />
</head>
<body>
    
    <div id="main">
       
            <nav>
                <a href="/page1">
                    <div class="rec">
                        <h3>Home</h3>
                    </div>
                </a>
                
                <a href="/myport">
                    <div class="rec">
                        <h3>Intro</h3>
                    </div>
                </a>
                
                <a href="mailto:shreyankagrawal17@gmail.com">
                    <div class="rec">
                        <h3>Contact</h3>
                    </div>
                </a>
                
                <a href="https://drive.google.com/file/d/1-BOrQckJquewlGQ2dpjtK1JRTkvSyqFR/view?usp=sharing">
                    <div class="rec">
                        <h3>Resume</h3>
                    </div>
                </a>
                
             
            </nav>
            <div id="page1">
                <div id="one"> 
                    <div id="cir">
                        <div id="blo">
                            <img src="/images/shreyank-front.jpg" alt="">
                        </div>
                       <div id="text">
                        <p>Shreyank -Agrawal Software developer Ui/Ux designer 21yr. </p>
                       </div>
                    </div>
                    <h3></h3>
                </div>
                <div id="two">
                    <p>I love to create</p> <br>
                    <p><span>Extraordinary</span> products For Brands</p> <br>
                    <div class="rect">
                       <a href="mailto:shreyankagrawal17@gmail.com">
                            <button>
                               <p> Mail me</p> <div class="box">
                                    <img src="https://cdn.pixabay.com/photo/2016/06/13/17/30/mail-1454731_960_720.png" alt="">
                                </div>
                            </button>
                         </a>
                        <a href="https://drive.google.com/file/d/1-BOrQckJquewlGQ2dpjtK1JRTkvSyqFR/view?usp=sharing">
                            <button>
                                <p>Check Resume</p> <div class="box">
                                    <img src="https://www.conovercompany.com/wp-content/uploads/2019/06/wr-resumes-logo.png" alt="">
                                </div>
                            </button>
                         </a>
                    </div>
                     
                </div>
            </div>
            <div id="page2">
                 <div id="o1">
                    <h1>Who is <span>Shreyank Agrawal</span></h1>
                 </div>
                 <div id="o2">
                    <p>Hii ! i am Shreyank Agrawal</p> 
                    <p>Curently i'm persuing Btech in </p> 
                    <p id="nb">Artificial Intelligence and Machine Learning></p>
                    <p>from</p>
                    <p id="b"><b>Sagar Institute of Research and Technology Bhopal</b></p> 
                    <p>Currently, i am Senior Python ( Data Science) Mentor and Front-End web dev Mentor  at</p>
                    <p id="nb"><b >Sheryians Private Limited</b></p>
                    <p>I am the <b id="b">President of Research and Development></b> of SGI Group</p>
                    <p>I am Good at </p> <br>
                    <li>UI/UX Designing.</li>
                    <li>Dancing</li>
                    <li>Raping</li>
                    <li>Creating 3d Animations</li>
                    <li>Artist</li>
                    <li>Leadership</li>
                    <li>Communication</li>
                 </div>
                 <div id="o3">
                    <img src="/images/shreyank.jpg" alt="">
                 </div>
                 <div id="o4">
                    <h4>Shreyank</h4>
                    <h4>Shreyank</h4>
                    <h4>Shreyank</h4>
                    <h4>Shreyank</h4>
                    <h4>Shreyank</h4>
                    <h4>Shreyank</h4>
                    <h4>Shreyank</h4>
                    <h4>Shreyank</h4>
                    <h4>Shreyank</h4>
                    <h4>Shreyank</h4>
                    <h4>Shreyank</h4>
                    <h4>Shreyank</h4>
                 </div>
                 <div id="blop">
                    <a href="https://github.com/Shreyank108">
                        <div class="cir1">
                            <div class="cir2">
                                <img src="https://imgs.search.brave.com/KXL45Ky6mn4L5JZiL_5V069ITX6UnIz6ZTlN8LGDJfI/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93d3cu/bG9nby53aW5lL2Ev/bG9nby9HaXRIdWIv/R2l0SHViLUljb24t/V2hpdGUtRGFyay1C/YWNrZ3JvdW5kLUxv/Z28ud2luZS5zdmc.svg" alt="">
                            </div>
                        </div>
                    </a>
                    <a href="https://www.linkedin.com/in/shreyank-agrawal-78a2a0254/">
                        <div class="cir1">
                            <div class="cir2">
                                <img src="https://imgs.search.brave.com/uGDtHsxME6trYi3Pg1IQoYBs0ZNStLg4fOwcz9gYrwo/rs:fit:860:0:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy9j/L2NhL0xpbmtlZElu/X2xvZ29faW5pdGlh/bHMucG5n" alt="">
                            </div>
                        </div>
                    </a>
                    <a href="https://www.hackerrank.com/profile/shreyankagrawal2">
                        <div class="cir1">
                            <div class="cir2">
                                <img src="https://imgs.search.brave.com/lBYqFiZ1KDRqDnLu8Qv9TYZc-HjvuYrfE5hrXkG_KFg/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9jZG40/Lmljb25maW5kZXIu/Y29tL2RhdGEvaWNv/bnMvbG9nb3MtYW5k/LWJyYW5kcy81MTIv/MTYwX0hhY2tlcnJh/bmtfbG9nb19sb2dv/cy01MTIucG5n" alt="">
                            </div>
                        </div>
                    </a>
                    <a href="https://leetcode.com/shreyankagrawal17/">
                        <div class="cir1">
                            <div class="cir2">
                                <img src="https://imgs.search.brave.com/MuVD9Q_XhPRwDaWHKBssFUk72tlrgmDnNpq6rKAO-2o/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9jb2Rl/cnNzYi5jb20vUmVz/b3VyY2VzL2xlZXRj/b2RlLWxvZ28ucG5n" alt="">
                            </div>
                        </div>
                    </a>
                    <a href="https://www.codechef.com/users/shreyankagrawa">
                        <div class="cir1">
                            <div class="cir2">
                                <img src="https://i.pinimg.com/originals/c5/d9/fc/c5d9fc1e18bcf039f464c2ab6cfb3eb6.jpg" alt="">
                            </div>
                        </div>
                    </a>
                    
                    
                 </div>
            </div>
            <div id="page3">
                <div class="p3_hea">
                    <h1><span>Achiev</span>ments</h1>
                </div>
                <div class="p3_sub">
                    <h4>Sheryians Pvt. Limited</h4>
                </div>
               
               <div class="p3">
                    <div class="box3">
                        <div class="img-co"> <img src="/images/p9 winner.jpg" alt=""></div>
                       
                       <h1> 🏆</h1>
                        <p><b>Winner of Python</b></p>
                        <p> 13 May 2023</p>
                    </div>
                    <div class="box3">
                        <div class="img-co"> <img src="/images/b25 winner.jpg" alt=""></div>
                       
                       <h1> 🏆</h1>
                        <p><b>Winner of Front End</b></p>
                        <p> 27 Sept 2023</p>
                    </div>
                    <div class="box3">
                        <div class="img-co"> <img src="/images/n17 winner.jpg" alt=""></div>
                       
                       <h1> 🏆</h1>
                        <p><b>Winner of [Backend]</b></p>
                        <p> 6 Apr 2024</p>
                    </div>
                    
                </div> 
            </div>
            <div id="page4">
                <div class="box3">
                    <div id="ro1" class="img-co">
                        <img style="object-fit: cover; object-position: top;" src="/images/senior vs junior.jpg" alt="">
                    </div>
                    <h1> 🏆</h1>
                    <p><b>Selected for Senior vs Junior [hackathon] over 800+ submissions</b></p>
                    <p>13 July 2023</p>
                </div>
                <div class="box3">
                    <div id="ro" class="img-co"> <img style="object-fit: cover; object-position: top;" src="/images/codeenergia.jpg" alt=""></div>
                   
                   <h1> 🏆</h1>
                    <p><b>First Runner up in Codeenrgia National Level Web Hackathon 2K23</b></p>
                    <p> 7 May 2023</p>
                </div>
                <div class="box3">
                    <div id="ro1" class="img-co">
                        <img style="object-fit: cover; object-position: top;" src="/images/president.jpg" alt="">
                    </div>
                    <h1> 🏆</h1>
                    <p><b>President of Research and Devlopment of SGI [Sage Group of Institution]</b></p>
                    <p>14 Jan 2024</p>
                </div>
            </div> 
            <div id="page5">
                <h1>I'm Good at ⭐</h1>  
                <p>Skills / Intrest / Passion / Hobbies</p>

                <div class="ach">
                    <div class="ach1">
                        <h5>Coding & Developemnt</h5>
                    </div>
                    <div class="ach2">
                        <div class="skill-box">
                            <img src="https://cdn.pixabay.com/photo/2022/01/30/13/33/github-6980894_1280.png" alt="">
                        </div>
                        <div class="skill-box">
                            <img src="https://t4.ftcdn.net/jpg/03/98/18/19/360_F_398181949_BudYmmAeTPJwDz6HMxwf1PL3ZNIblohm.jpg" alt="">
                        </div>
                        <div class="skill-box">
                            <img src="https://miro.medium.com/v2/resize:fit:730/0*POjH5vv_7t8s8loG" alt="">
                        </div>
                        <div class="skill-box">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/1869px-Python-logo-notext.svg.png" alt="">
                        </div>
                        <div class="skill-box">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/ISO_C%2B%2B_Logo.svg/1822px-ISO_C%2B%2B_Logo.svg.png" alt="">
                        </div>
                    
                        <div class="skill-box">
                            <img src="https://cdn.iconscout.com/icon/free/png-256/free-html-5-1-1175208.png" alt="">
                        </div>
                        <div class="skill-box">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/CSS3_logo.svg/800px-CSS3_logo.svg.png" alt="">
                        </div>
                        <div class="skill-box">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png" alt="">
                        </div>
                        <div id="full-view" class="skill-box">
                            <img  src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Node.js_logo_2015.svg/2560px-Node.js_logo_2015.svg.png" alt="">
                        </div>
                        <div class="skill-box">
                            <img src="https://cdn4.iconfinder.com/data/icons/logos-3/600/React.js_logo-512.png" alt="">
                        </div>
                        <div class="skill-box">
                            <img src="https://cdn.iconscout.com/icon/free/png-256/free-mongodb-5-1175140.png?f=webp" alt="">
                        </div>

                    </div>
                </div>
                <div class="ach">
                    <div class="ach1">
                        <h5>2D Designing & 3D Designing</h5>
                    </div>
                    <div class="ach2">
                        <div class="skill-box">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnyQmJc5O-hG9H_-J7LeYfRV2mQBVBykbTku035EPXkA&s" alt="">
                        </div>
                        <div class="skill-box">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4P2l6M64Weai0P2FsGncFjsrAz8etMlLD8eymvrUyhg&s" alt="">
                        </div>
                        <div class="skill-box">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGS2AgRLgYbCiPFfpcI0QkIem5iCWSVYADnZ9mrgJOhg&s" alt="">
                        </div>
                        <div class="skill-box">
                            <img src="https://cdn3d.iconscout.com/3d/free/preview/free-blender-9234649-7516874.png?f=webp&h=700" alt="">
                        </div>
                        <div class="skill-box">
                            <img src="https://play-lh.googleusercontent.com/Jaw57u6LQJNeqKfjJER9MM5On66ZXopBk3rrShag1BBZrX6cZdxxIMGf8nYA_Av0meA=w240-h480-rw" alt="">
                        </div>
                        <div class="skill-box">
                            <img src="https://static.vecteezy.com/system/resources/previews/013/948/546/original/capcut-logo-on-transparent-white-background-free-vector.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div> 
            <div id="page6"> 
                <h1>Created with ❤️</h1>
                <p>Thse are my few recent art work og Deep Learning / Web dev /3D model / file handling </p>
                <div class="all-proj">
                   
                    <div class="ap">
                        <video autoplay loop muted src="/images/Untitled video - Made with Clipchamp (39).mp4"></video>
                    </div>
                    <div class="ap">
                        <video autoplay loop muted src="/images/Untitled video - Made with Clipchamp (40).mp4"></video>
                    </div>
                    <div class="ap">
                        <video autoplay loop muted src="/images/Untitled video - Made with Clipchamp (41).mp4"></video>
                    </div>
                    <div class="ap">
                        <video autoplay loop muted src="/images/Untitled video - Made with Clipchamp (42).mp4"></video>
                    </div>
                    <div class="ap">
                        <video autoplay loop muted src="/images/Untitled video - Made with Clipchamp (45).mp4"></video>
                    </div>
                    <div class="ap">
                        <video autoplay loop muted src="/images/Untitled video - Made with Clipchamp (46).mp4"></video>
                    </div>
                    <div class="ap">
                        <video autoplay loop muted src="/images/Untitled video - Made with Clipchamp (44).mp4"></video>
                    </div>
                    <div id="phone" class="ap">
                        <video autoplay loop muted src="/images/Untitled video - Made with Clipchamp (43).mp4"></video>
                    </div>
                    <div id="anot">
                        <a href="https://www.linkedin.com/in/shreyank-agrawal-78a2a0254/">
                            <div class="blo">
                                <i class="ri-corner-left-up-line"></i>
                                To see my all work
                            </div>
                        </a>
                       
                        <div class="ap">
                            <video autoplay loop muted src="/images/0001.png0001-0190.mp4"></video>
                        </div>
                        <div class="ap">
                            <video autoplay loop muted src="/images/sea.mp4"></video>
                        </div>
                    </div>
                   
                    
                </div>
            </div>
            <div id="page7">
                <div id="texo">
                    <h1>Lets collab and creat something really <br><span id="ama">amazing</span> <span id="pro">Products</span></h1>
                </div>
                <div id="imgeo">
                    <img src="/images/./c.png" alt="">
                    <img src="/images/./o.png" alt="">
                    <img src="/images/./l.png" alt="">
                    <img src="/images/./l.png" alt="">
                    <img src="/images/./A.png" alt="">
                    <img src="/images/./b.png" alt="">
                    
                </div>
                <div id="animot">
                    <img id="one" src="https://imgs.search.brave.com/2xBoXKbRL9VnSz4caBRvrf3mVzv8qZkoJXJkO2l1cXY/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9jZG4z/ZC5pY29uc2NvdXQu/Y29tLzNkL3ByZW1p/dW0vdGh1bWIvY2xv/dWQtMzg5MTg4Ni0z/MjMwOTI5QDAucG5n/P2Y9d2VicA" alt="">
                    <img id="two" src="https://imgs.search.brave.com/2xBoXKbRL9VnSz4caBRvrf3mVzv8qZkoJXJkO2l1cXY/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9jZG4z/ZC5pY29uc2NvdXQu/Y29tLzNkL3ByZW1p/dW0vdGh1bWIvY2xv/dWQtMzg5MTg4Ni0z/MjMwOTI5QDAucG5n/P2Y9d2VicA" alt="">
                    <img id="three" src="https://imgs.search.brave.com/2xBoXKbRL9VnSz4caBRvrf3mVzv8qZkoJXJkO2l1cXY/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9jZG4z/ZC5pY29uc2NvdXQu/Y29tLzNkL3ByZW1p/dW0vdGh1bWIvY2xv/dWQtMzg5MTg4Ni0z/MjMwOTI5QDAucG5n/P2Y9d2VicA" alt="">
                    <img id="four" src="https://imgs.search.brave.com/2xBoXKbRL9VnSz4caBRvrf3mVzv8qZkoJXJkO2l1cXY/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9jZG4z/ZC5pY29uc2NvdXQu/Y29tLzNkL3ByZW1p/dW0vdGh1bWIvY2xv/dWQtMzg5MTg4Ni0z/MjMwOTI5QDAucG5n/P2Y9d2VicA" alt="">
                    <img id="five" src="https://imgs.search.brave.com/2xBoXKbRL9VnSz4caBRvrf3mVzv8qZkoJXJkO2l1cXY/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9jZG4z/ZC5pY29uc2NvdXQu/Y29tLzNkL3ByZW1p/dW0vdGh1bWIvY2xv/dWQtMzg5MTg4Ni0z/MjMwOTI5QDAucG5n/P2Y9d2VicA" alt="">
                </div>
                <div id="last">
                    <h2>made with ❤️ by <span>shreyank</span></h2>
                </div>
            </div>
       
    </div>

<script src='https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js'integrity='sha512-cOH8ndwGgPo+K7pTvMrqYbmI8u8k6Sho3js0gOqVWTmQMlLIi6TbqGWRTpf1ga8ci9H3iPsvDLr4X7xwhC/+DQ=='crossorigin='anonymous' referrerpolicy='no-referrer'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollTrigger.min.js'integrity='sha512-AMl4wfwAmDM1lsQvVBBRHYENn1FR8cfOTpt8QVbb/P55mYOdahHD4LmHM1W55pNe3j/3od8ELzPf/8eNkkjISQ=='crossorigin='anonymous' referrerpolicy='no-referrer'></script>
<script src='https://code.jquery.com/jquery-3.6.4.js'integrity='sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=' crossorigin='anonymous'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.6.1/jquery.lettering.min.js'integrity='sha512-VJ/iYbiu1eJ6yLimfTi65t2R9TFcG5D9X8ZCfbbEFhTfPnKJh8byoKXEawi5ScJZBYL1eiirL1+MczZDx0Tz9Q=='crossorigin='anonymous' referrerpolicy='no-referrer'></script>
<script src='https://unpkg.com/textillate@0.4.1/jquery.textillate.js'></script>
<script src='https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.7/axios.min.js' integrity='sha512-NQfB/bDaB8kaSXF8E77JjhHG5PM6XVRxvHzkZiwl3ddWCEPBa23T76MuWSwAJdMGJnmQqM0VeY9kFszsrBEFrQ==' crossorigin='anonymous' referrerpolicy='no-referrer'></script>
<script src='/javascripts/home.js'></script>
</body>
</html>