<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> 
    <link rel="stylesheet" href="/stylesheets/me.css">
</head>
<body>
    
    <!-- <div class="strip" id="s-1"> <marquee  direction="right"><p>MERN STACK DEVELOPER</p></marquee></div>
    <div class="strip" id="s-2"> <Marquee><p>MACHINE LEARNING</p> </Marquee></div>
    <div class="strip" id="s-3"> <Marquee><p>DATA ANALYST</p></Marquee></div>
    <div class="strip" id="s-4"><Marquee><p>3D ARTIST</p></Marquee></div>
    <div class="strip" id="s-5"><Marquee direction="right"><p>UI/UX</p></Marquee></div> -->
    

    <div class="info_hard">
    <h2>MERN STACK DEVELOPER</h2> 
    <h2>MACHINE LEARNING</h2> 
    <h2>DATA ANALYST</h2> 
    <h2>DATA SCIENTIST</h2>
    </div>
   
<img id="ms_pic" src="https://static.vecteezy.com/system/resources/previews/027/127/473/original/microsoft-logo-microsoft-icon-transparent-free-png.png" alt="">
<a href="/back"><img id="cross" src="https://png.pngtree.com/png-vector/20190412/ourlarge/pngtree-vector-cancel-icon-png-image_931207.jpg" alt=""></a>
<a href="#" class="photo">
  <h1>Shreyank Agrawal</h1>
    <img src="/images/resume_pic.jpg" />
  <div class="glow-wrap">
    <i class="glow"></i>
  </div>
</a>

<div class="pink_strip">

</div>

<div class="my_standards"> 
  <h3>Hii !</h3> <br> <br>
   <p> I am Shreyank Agrawal ,<br> <br>

    Curently i'm persuing Btech in
    
    <span id="orange">Artificial Intelligence and Machine Learning</span> <br>
    
    from <br>
    
    <span id="red">Sagar Institute of Research and Technology Bhopal</span> <br>
    
    Currently, <br> i am Senior Python ( Data Science) Mentor and Front-End web dev Mentor at
    
    <span id="blue">Sheryians Private Limited</span> <br> <br>
    
    I am the <span id="red">President</span> of <span id="orange">Research and Development</span> of SGI Group <br> <br>
    
    My Hobbies are <br> <br>
    
    UI/UX Designing. <br>
    Dancing <br>
    Raping <br>
    Creating 3d Animations <br>
    Artist <br>
   </p>
</div>

<a href="#" target="_blank" id="author">About me</a>

<script>
  document.querySelector("#author").addEventListener('click',function(e){ 
         e.preventDefault()
  })
</script>
</body>
</html>