<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/photo.css">
    
</head>
<body>
    <div id="main">
        <div id="pexelate">
            <div class="card">
                <img src="/photos/WhatsApp Image 2024-04-14 at 11.19.16_50678eab.jpg" alt="">
            </div> 
            <div class="bar_point">
                <h5>Front End Winner</h5>
                <p><b>27 Sept 2k23</b></p>
            </div>
        </div>
        <div id="pexelate">
            <div class="bar_point">
                <h5>Python Winner</h5>
                <p><b>13 May 2k23</b></p>
            </div>
            <div class="card">
                <img src="/photos/WhatsApp Image 2024-04-14 at 11.37.49_5ae05dbf.jpg" alt="">
            </div> 
        
        </div>
        <div id="pexelate">
            <div class="card">
                <img src="/photos/WhatsApp Image 2024-04-14 at 12.08.33_3aa7f8eb.jpg" alt="">
            </div> 
            <div class="bar_point">
                <h5>Backend Winner</h5>
                <p><b>6 April 2k24</b></p>
            </div>
        </div>
        <div id="pexelate">
            <div class="bar_point">
                <h5>Selected for <br></h5>
                <p><b>Senior vs junior hackathon</b></p><br>
                <p>Top 20 among 800+</p>
            </div>
            <div class="card">
                <img src="/photos/WhatsApp Image 2024-04-14 at 12.38.33_b62c398f.jpg" alt="">
            </div> 
        
        </div>
        <div  id="pexelate">
            <div id="tupple" class="card">
                <img src="/photos/WhatsApp Image 2024-04-14 at 12.38.42_e8c80232.jpg" alt="">
            </div> 
            <div class="bar_point">
                <h5>First Runner UP</h5>
                <p><b>Codeenergia 2k23</b></p>
                <p>Web dev hackathon</p>
            </div>
        </div>
        <div id="pexelate">
            <div class="bar_point">
                <h5>President</h5>
                <p><b>Research And Development</b></p>
                <p>of Sage Group of Institution</p>
            </div>
            <div class="card">
                <img src="/photos/WhatsApp Image 2024-04-14 at 21.06.17_9ef87543.jpg" alt="">
            </div> 
        
        </div>
        <div id="pexelate">
            <div class="card">
                <img src="/photos/WhatsApp Image 2024-05-11 at 10.39.58_e8be1250.jpg" alt="">
            </div> 
            <div class="bar_point">
                <h5>Mentor's</h5>
                <p><b>Awward</b></p>
            </div>

        
        </div>
        <div id="pexellate_big">
            <img src="" alt="">
            <h1>Upload soon....</h1>
        </div>
       
    </div>
    <div id="line"></div>
</body>
</html>