<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css' />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css' />
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css' />
    <link href='https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css' rel='stylesheet' />
    <link rel="stylesheet" href="/stylesheets/trail.css">
</head>
<body> 
     <div id="main">
        <div id="page1">
            <div id="nav">
                <div id="e1">
                    <h3>Shreyank Agrawal</h3>
                    <div id="port">
                        <h4>portfolio</h4>
                    </div>
                </div>
                <div id="e2">
                    <a href="https://drive.google.com/file/d/1-BOrQckJquewlGQ2dpjtK1JRTkvSyqFR/view?usp=sharing">Download resume</a>
                    <div id="e2_git">
                        
                        <a id="pink" href="https://github.com/Shreyank108"><img src="/mobile/billi.webp" alt=""> </a>
                    </div>
                </div>
            </div>
            <div id="mash">
                <div id="mash_cont">
                    <div id="design">
                        <h2>Design 🖌️</h2>
                    </div>
                    <div id="code">
                        <h2><i class="ri-code-s-slash-line"></i></h2>
                        <h2>Code</h2>
                    </div>
                </div>
            </div>
            <div id="text">
                <h1>I <span id="love">love</span> to create <br> <span id="awe">awesome</span>Products for Brands.</h1>
                <p>Hii ! i am shreyank ,i am 3D artist / Developer / Designer from Bhopal , i love to creat awesome website for brands ,<br> i enhance user Experiences , other than that  </p>
            </div>
            <div id="butoncity">
                <div id="sayhi">
                <a href="mailto:shreyankagrawal17@gmail.com">Mail me 📧</a>    
                </div>
                <div id="dor">
                    <a href="https://drive.google.com/file/d/1-BOrQckJquewlGQ2dpjtK1JRTkvSyqFR/view?usp=sharing">Check my resume</a>
                </div>
            </div>
            </div>
            <div id="page2">
                <div id="cir">
                        <div id="blo">   
                        </div>
                       <div id="text1">
                        <p>Shreyank - Agrawal Software developer Ui/Ux designer 20yr. </p>
                        
                       </div>
                    </div>
                <div id="hover">
                    <h1>Who is <span id="page2h1">Shreyank Agrawal</span></h1>
                    <h5>👈 hover me</h5>
                </div>
                <div id="page2_sec">
                    <div id="text3">
                        <p> hii ! i am Shreyank Agrawal , <br> Currently i am persuing Btech in <br> Artificial Intelligence And Machine Learning (AIML) <br>from <br> <span id="sagar">Sagar Institute Of Research and Technology <br>Bhopal.</span></p><br>
                        <p>Currently, i am Senior Python ( Data Science) Mentor and Front-End web dev Mentor  <br> at <span id ="sheryians">Sheryians Pvt limited</span></p><br>
                        <p>n, I was the <span id="w">Winner</span> of <span id="sagar">P9(python) Batch</span> ,<span id="sagar">B25(web dev) batch</span>and<span id="sagar">N17(Backend) batch</span> at sheryians pvt. limited</p><br>
                        <p>i am the  <span id="w">First runner</span> up of <span id="sagar">National level Hackathon 2k23 [CODEENRGIA]</span></p> <br>
                        <p>Also, i am good in dancing , rapping ,<br> vedio editing, Communicating ,Playing a leadership role ,creating 3d blender scens  etc.... </p><br>
                         <p><b>I am a <span id="w">President</span> of <span id="sagar">Research & Development </span> of SGI [Sage Group of Institute]</b></p> <br>
                         <p><b>I am also <span id="w">Awwarded</span> by <span id="sagar">Star Performer </span> of SGI [Sage Group of Institute]</b></p>
                    </div>
                    <div id="mypic">
                            
                    </div>
                </div>
               
                </div> 
                <div id="page3">
                    <div id="page4_e1">
                        <h1>things im <span>good</span> at. </h1>
                        <h6>skills , intrests ,passion and hobbies </h6>
                    </div>
                    <div id="boxes">
                        <div id="box1">
                            <h2 id="one">2D <br>Designing</h2>
                            <p>figma | canva | Piscart | kinemaster</p>
                        </div>
                        <div id="box2">
                            <h2 id="two">3D <br>Designing</h2>
                            <p> Blender | scene creator <br>(Basic to Adv.)</p>
                        </div>
                        <div id="box3">
                            <h2 id="three"> Coding / <br> Development </h2>
                            <p> C++ | Python <br> html | Css | Js <br>Node | express <br> React and <br> MongoDB</p> 
                        </div>
                        <div id="box3">
                            <p> Machine Learning <br> Deep Learning <br> Data Science <br>Artificial Intelligence <br> Statics <br> Data Wrangling</p> 
                        </div>
                        <div id="achi">
                            <h1><span>Achieve</span>ments 🧑‍💻</h1>
                        </div>
                       
                    </div>
                    <div id="achi_elem">
                        <h3 id="st">⭐ Five star in hacker rank</h3>
                        <h3 id="st1">⭐ Leatcode</h3>
                        <h3 id="st2">⭐ Github consistant</h3>
                        <h3 id="st3">⭐ Linkdin consistant</h3> 
                        <h3 id="st4">⭐ Problem solving</h3>
                    </div>
        
                    </div> 
                
                    <div id="page4">
                                    <div id="cursor1"></div>
                                    <div id="work">
                                        <h1>Crafted with <span>Love</span> ❤️‍🔥</h1>
                                        <h6>These are few of my recent work</h6>
                                     </div>
                                     <div id="native">
                                    <div id="workbrench">
                                        <div class="swiper mySwiper">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                <img src="/mobile/0001.png" alt="">
                                                <img src="/mobile/0102.png" alt="">
                                                <img src="/mobile/0250.png" alt="">
                                                </div>
                                                <div class="swiper-slide"><img src="/mobile/0023.png" alt=""></div>
                                                <div class="swiper-slide"><img src="/mobile/0248.png" alt=""></div>
                                                <div class="swiper-slide"><img src="/mobile/carx.png" alt=""></div>
                                                <div class="swiper-slide"><img id="p1" src="/mobile/Screenshot 2023-08-05 195742.png" alt=""></div>
                                                <div class="swiper-slide"><img src="/mobile/Screenshot 2023-06-04 020550.png" alt=""></div>
                                                <div class="swiper-slide"><img src="/mobile/Screenshot 2023-06-30 005121.png" alt=""></div>
                                                <div class="swiper-slide"><img src="/mobile/Screenshot 2023-09-01 005430.png" alt=""></div>
                                                <div class="swiper-slide"><img src="/mobile/Screenshot 2023-09-10 223848.png" alt=""></div>
                                            </div>
                                            <div class="swiper-button-next"></div>
                                            <div class="swiper-button-prev"></div>
                                            <div class="swiper-pagination"></div>
                                            </div>
                                            </div>
                                            <div class="swiper-pagination"></div>
                                            </div>

                    </div>  
                    <div id="page5">
                        <div id="texo">
                            <h1>Lets collab and creat something really <br><span id="ama">amazing</span> <span id="pro">Products</span></h1>
                        </div>
                        <div id="imgeo">
                            <img src="/mobile/c.png" alt="">
                            <img src="/mobile/o.png" alt="">
                            <img src="/mobile/l.png" alt="">
                            <img src="/mobile/l.png" alt="">
                            <img src="/mobile/A.png" alt="">
                            <img src="/mobile/b.png" alt="">
                            
                        </div>
                        <div id="animot">
                            <img id="one" src="https://imgs.search.brave.com/2xBoXKbRL9VnSz4caBRvrf3mVzv8qZkoJXJkO2l1cXY/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9jZG4z/ZC5pY29uc2NvdXQu/Y29tLzNkL3ByZW1p/dW0vdGh1bWIvY2xv/dWQtMzg5MTg4Ni0z/MjMwOTI5QDAucG5n/P2Y9d2VicA" alt="">
                            <img id="two" src="https://imgs.search.brave.com/2xBoXKbRL9VnSz4caBRvrf3mVzv8qZkoJXJkO2l1cXY/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9jZG4z/ZC5pY29uc2NvdXQu/Y29tLzNkL3ByZW1p/dW0vdGh1bWIvY2xv/dWQtMzg5MTg4Ni0z/MjMwOTI5QDAucG5n/P2Y9d2VicA" alt="">
                            <img id="three" src="https://imgs.search.brave.com/2xBoXKbRL9VnSz4caBRvrf3mVzv8qZkoJXJkO2l1cXY/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9jZG4z/ZC5pY29uc2NvdXQu/Y29tLzNkL3ByZW1p/dW0vdGh1bWIvY2xv/dWQtMzg5MTg4Ni0z/MjMwOTI5QDAucG5n/P2Y9d2VicA" alt="">
                            <img id="four" src="https://imgs.search.brave.com/2xBoXKbRL9VnSz4caBRvrf3mVzv8qZkoJXJkO2l1cXY/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9jZG4z/ZC5pY29uc2NvdXQu/Y29tLzNkL3ByZW1p/dW0vdGh1bWIvY2xv/dWQtMzg5MTg4Ni0z/MjMwOTI5QDAucG5n/P2Y9d2VicA" alt="">
                        </div>
                        <div id="last">
                            <h2>made with ❤️ by <span>shreyank</span></h2>
                        </div>
        </div>
     </div>
     <script src='https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js'></script>
     <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js'integrity='sha512-cOH8ndwGgPo+K7pTvMrqYbmI8u8k6Sho3js0gOqVWTmQMlLIi6TbqGWRTpf1ga8ci9H3iPsvDLr4X7xwhC/+DQ=='crossorigin='anonymous' referrerpolicy='no-referrer'></script>
     <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollTrigger.min.js'integrity='sha512-AMl4wfwAmDM1lsQvVBBRHYENn1FR8cfOTpt8QVbb/P55mYOdahHD4LmHM1W55pNe3j/3od8ELzPf/8eNkkjISQ=='crossorigin='anonymous' referrerpolicy='no-referrer'></script>
     <script src='https://code.jquery.com/jquery-3.6.4.js'integrity='sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=' crossorigin='anonymous'></script>
     <script src='https://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.6.1/jquery.lettering.min.js'integrity='sha512-VJ/iYbiu1eJ6yLimfTi65t2R9TFcG5D9X8ZCfbbEFhTfPnKJh8byoKXEawi5ScJZBYL1eiirL1+MczZDx0Tz9Q=='crossorigin='anonymous' referrerpolicy='no-referrer'></script>
     <script src='https://unpkg.com/textillate@0.4.1/jquery.textillate.js'></script>
     <script src='https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js'></script>
     <script src="/javascripts/trail.js"></script>
</body>
</html>